.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;
}
.header1 {
  padding: 5px;
 margin-left: 5px;
  float: left;
}
.header2 {
 margin: -2px;
  margin-left: 15px;
   float: right;
}
.header3{
  margin: -2px;
  margin-left: 40px;
  padding: px;
   float: right;
}
.sign {
  margin-right: 1px;
  background-color:#4585f6;
  color: white;
  border: none;
  width: 65px;
  height: 30px;
}
.headerli a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
.headerli a:hover {
  text-decoration: underline;
}
.container {
  text-align: center;
  margin: 100px;
}
.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 582px;
  border-radius: 35px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19)
}
.search-box {
  width: 582px;
  height: 44px;
  margin-top: -65px;
  flex: 1;
  border-width: 1px;
  border-color: lightslategrey;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border-radius: 35px;
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 12.5px 10px;
  display: flex;
  padding:5px 8px 0 16px ;
  padding-left: 14px;
  z-index: 3;
  text-align: inherit;
  margin-left: 450px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}
.mic {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  bottom:30px; left: 1020px;
  margin: -20px;
}
.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  bottom:30px; left: 508px;
  margin: -45px;
}
.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}
.googlesearch {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
}
.feelinglucky {
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
}
.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  background-color: #f2f2f2;
  list-style-type: none;
}
.footerli {
  float: left;
}
.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}
.footerli a:hover {
  text-decoration: underline;
}